Button:hover {
    color: orange !important;
}

.text-white {
    color: black !important;
}

.bg-primary-500 {
    background-color: white !important;
}

.px-6 {
    padding-left: 0 !important;
}

.border-t-metal-100 {
    border-top-color: grey !important;
}

.btn:hover {
    color: gray !important;
}